@import url('https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import 'aos/dist/aos.css'; /*animaciones*/
:roo{
  /*------------ Fuentes ---------------*/
  --font_family_principal:  "Playfair", serif;
  --font_family_second: "Playfair Display", serif;
  --font_family_portada:  "Allura", cursive;
  /*------------- Color texto  -------------------*/
  --color_portada: #525252;
  --color_second:#8b8b8b;
  --color_title:#1E1E1E;

  --color_btn:#A9ABAE;
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  }
/*Estilo del scrollbar*/
/* ::-webkit-scrollbar {
  width: .5rem;
  background-color: var(--color_portada);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color_second);
  border-radius: 9px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--color_title);
} */